force-app/main/default/flows/BuscarClienteBot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ClienteEncontradoFalso</name>
        <label>Cliente Encontrado - Falso</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VerificarClienteEncontrado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UsuarioJaFoiAtendido</name>
        <label>Usuário já foi atendido?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>JaFoiAtendido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClienteEncontrado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ClienteEncontrado</name>
        <label>Cliente encontrado?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ClienteEncontradoFalso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>apiVersion: 61</description>
    <environments>Default</environments>
    <interviewLabel>Buscar Cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buscar Cliente - Bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Buscar cliente pelo CPF ou CNPJ, baseado no seu identificador</description>
        <name>BuscarCliente</name>
        <label>Buscar Cliente</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirContaNoMessagingUser</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CPF__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentificadorCliente</elementReference>
            </value>
        </filters>
        <filters>
            <field>CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentificadorCliente</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Cliente</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CNPJ__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AtribuirContaNoMessagingUser</name>
        <label>Atribuir a Conta no Messaging User</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>UsuarioJaFoiAtendido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingEndUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdAccount</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BuscarCliente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cliente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>IdAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Cliente.Id</elementReference>
        </value>
    </variables>
    <variables>
        <description>A identificação do cliente pode ser através de um CPF ou CNPJ</description>
        <name>IdentificadorCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JaFoiAtendido</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MessagingEndUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificarClienteEncontrado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
