force-app/main/default/flows/CaseAfterFlowCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AdicionaMarcoCasoListaAtualizacao</name>
        <label>Adiciona marco do caso a lista de atualização</label>
        <locationX>1150</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>MarcosCasoParaAtualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PercorreTodosMarcosAbertos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PercorreTodosMarcosAbertos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiContagemDeMarcosVariavelContadora</name>
        <label>Atribui contagem de Marcos a variável contadora</label>
        <locationX>1062</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuantidadeMarcosCasoAbertos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>BuscarMarcosAberto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisaoSeFoiEncontradoAlgumMarcoCasoEmAberto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiDataConclusaoMarcoCaso</name>
        <label>Atribui data de conclusão do Marco do Caso</label>
        <locationX>1150</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>PercorreTodosMarcosAbertos.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdicionaMarcoCasoListaAtualizacao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CriarAtualizar</name>
        <label>Criar ou Atualizar</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ValidacaoCamposAlterados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Atualizar</defaultConnectorLabel>
        <rules>
            <name>Criar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuicaofila</targetReference>
            </connector>
            <label>Criar</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoSeFoiEncontradoAlgumMarcoCasoEmAberto</name>
        <label>Verifica se foi encontrado algum marco do caso em aberto</label>
        <locationX>1062</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Não foram encontrados Marcos do caso em aberto</defaultConnectorLabel>
        <rules>
            <name>ResultadoFoiEncontradoAlgumMarcoCasoEmAberto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuantidadeMarcosCasoAbertos</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PercorreTodosMarcosAbertos</targetReference>
            </connector>
            <label>Foi encontrado algum marco do caso em aberto</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validação campos alterados para executar as ações necessárias</description>
        <name>ValidacaoCamposAlterados</name>
        <label>Validação campos alterados</label>
        <locationX>886</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ClassificiacaoSubclassificacaoAlterados</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ClassificacaoAlterada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubclassificacaoAlterada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuicaoFilaCasoAtualizacaoCaso</targetReference>
            </connector>
            <label>Classificiação ou Subclassificação alterados</label>
        </rules>
        <rules>
            <name>StatusAtualizado</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>StatusAlterado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concluído</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado (Encerrado)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscarMarcosAberto</targetReference>
            </connector>
            <label>Status atualizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarTempoDecorridoDoSLA</name>
        <label>Verificar Tempo decorrido do SLA</label>
        <locationX>1150</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>AtribuiDataConclusaoMarcoCaso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>MenorQueOitoHoras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PercorreTodosMarcosAbertos.ElapsedTimeInHrs</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarFechamentoSLA</targetReference>
            </connector>
            <label>Menor que oito horas</label>
        </rules>
    </decisions>
    <description>apiVersion: 61</description>
    <environments>Default</environments>
    <formulas>
        <description>Campo que valida se a Classificação foi alterada</description>
        <name>ClassificacaoAlterada</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Classificacao__c})</expression>
    </formulas>
    <formulas>
        <name>created</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Verifica se o campo status foi alterado</description>
        <name>StatusAlterado</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Status})</expression>
    </formulas>
    <formulas>
        <description>Campo que valida se a subclassificacao foi alterada</description>
        <name>SubclassificacaoAlterada</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Subclassificacao__c})</expression>
    </formulas>
    <interviewLabel>Case - After Flow(Create/Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Flow(Create/Update)</label>
    <loops>
        <name>PercorreTodosMarcosAbertos</name>
        <label>Percorre todos os Marcos em Aberto</label>
        <locationX>930</locationX>
        <locationY>863</locationY>
        <collectionReference>BuscarMarcosAberto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerificarTempoDecorridoDoSLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarMarcosCasoEmAbertoParaConcluido</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BuscarMarcosAberto</name>
        <label>Buscar Marcos em aberto</label>
        <locationX>1062</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiContagemDeMarcosVariavelContadora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizacaoCaso</name>
        <label>Atualização caso</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarFechamentoSLA</name>
        <label>Atualizar Fechamento SLA</label>
        <locationX>1018</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>AtribuiDataConclusaoMarcoCaso</targetReference>
        </connector>
        <inputAssignments>
            <field>FechadoDentroDoSLA__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarMarcosCasoEmAbertoParaConcluido</name>
        <label>Atualizar marcos do caso em aberto para concluído</label>
        <locationX>930</locationX>
        <locationY>1571</locationY>
        <inputReference>MarcosCasoParaAtualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaso</name>
        <label>Atualização caso</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CriarAtualizar</targetReference>
        </connector>
        <filterFormula>ISNEW()||ISCHANGED({!$Record.Classificacao__c})||ISCHANGED({!$Record.Subclassificacao__c}	)||ISCHANGED({!$Record.Status})</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Atribuicaofila</name>
        <label>Atribuição de fila</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>AtualizacaoCaso</targetReference>
        </connector>
        <flowName>CaseSubflowAtribuicaoFilas</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Flow de atribuição do Case a fila correta se houver atualizado os campos Classificação ou Subclassificacão</description>
        <name>AtribuicaoFilaCasoAtualizacaoCaso</name>
        <label>Atribuição de fila em caso de atualização do caso</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateCaso</targetReference>
        </connector>
        <flowName>CaseSubflowAtribuicaoFilas</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MarcosCasoParaAtualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>QuantidadeMarcosCasoAbertos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
