force-app/main/default/flows/ClonarTabela.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Nova_Tabela</name>
        <label>Nova Tabela</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CriarTabela</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <interviewLabel>Clonar Tabela {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clonar Tabela</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarTabela</name>
        <label>Criar nova Tabela</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>ObterSeriesPagamentos</targetReference>
        </connector>
        <inputAssignments>
            <field>AcrescimoValorTotal__c</field>
            <value>
                <elementReference>AcrescimoValorTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ativa__c</field>
            <value>
                <elementReference>RegistroAtual.Ativa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoeficienteTabela__c</field>
            <value>
                <elementReference>CoeficienteTabela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescontoNominalMoeda__c</field>
            <value>
                <elementReference>RegistroAtual.DescontoNominalMoeda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescontoNominalPorcentagem__c</field>
            <value>
                <elementReference>DescontoNominal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empreendimento__c</field>
            <value>
                <elementReference>RegistroAtual.Empreendimento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NomeTabela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodicidadeParcelaPos__c</field>
            <value>
                <elementReference>RegistroAtual.PeriodicidadeParcelaPos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodicidadeParcela__c</field>
            <value>
                <elementReference>RegistroAtual.PeriodicidadeParcela__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>RegistroAtual.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxaDescontoVPL__c</field>
            <value>
                <elementReference>RegistroAtual.TaxaDescontoVPL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxaTP__c</field>
            <value>
                <elementReference>RegistroAtual.TaxaTP__c</elementReference>
            </value>
        </inputAssignments>
        <object>TabelaVendas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Inserir_Unidades</name>
        <label>Inserir Unidades</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Nova_Tabela</targetReference>
        </connector>
        <inputReference>TransformarUnidades</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InserirSeries</name>
        <label>Inserir Series</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>ObterUnidadesTabela</targetReference>
        </connector>
        <inputReference>Transformar_em_novas_s_ries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ObterSeriesPagamentos</name>
        <label>Obter Série de pagamentos</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transformar_em_novas_s_ries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TabelaVenda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SeriePagamentos__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterUnidadesTabela</name>
        <label>Obter Unidades da Tabela</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TransformarUnidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TabelaVenda__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UnidadeTabelaVendas__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RegistroAtual</name>
        <label>Registro Atual</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InformacoesRegistro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TabelaVendas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>InformacoesRegistro</name>
        <label>Informações do registro</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CriarTabela</targetReference>
        </connector>
        <fields>
            <name>InformacoesTabela</name>
            <fieldText>Informações Tabela</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InformacoesTabela_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NomeTabela</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RegistroAtual.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nome da Tabela</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CoeficienteTabela</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>RegistroAtual.CoeficienteTabela__c</elementReference>
                    </defaultValue>
                    <fieldText>Coeficiente da Tabela (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InformacoesTabela_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescontoNominal</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>RegistroAtual.DescontoNominalPorcentagem__c</elementReference>
                    </defaultValue>
                    <fieldText>Desconto Nominal (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>AcrescimoValorTotal</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>RegistroAtual.AcrescimoValorTotal__c</elementReference>
                    </defaultValue>
                    <fieldText>Acrescimo sobre Valor Total</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RegistroAtual</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
