force-app/main/default/flows/FlowInsertCasoEinsteinBot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>SubclassficacaoOutros</name>
        <label>Subclassficação recebe outros</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Subclassificacao</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outros</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscarCliente</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Validação para se o caso for classificado como assistencia técnica</description>
        <name>AssistenciaTecnicaValidation</name>
        <label>É Assistência técnica?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>BuscarCliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Classificacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistência técnica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubclassficacaoOutros</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacaoAnexo</name>
        <label>Validação de anexo</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AnexouArquivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossuiAnexo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLinkedEntity</targetReference>
            </connector>
            <label>Anexou arquivo ?</label>
        </rules>
    </decisions>
    <description>apiVersion: 61

OBS: Remoção de menções ao campo Empreendimento e a variável.</description>
    <environments>Default</environments>
    <interviewLabel>Flow - Caso - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Insert - Caso - Einstein Bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Criar caso automaticamente com dados do Einstein Bot</description>
        <name>CriarCaso</name>
        <label>Criar Caso</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>ResgatarInformacaoDoCasoCriado</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdConta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classificacao__c</field>
            <value>
                <elementReference>Classificacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>InfoConta.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescricaoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subclassificacao__c</field>
            <value>
                <elementReference>Subclassificacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Bot to Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>InfoConta.PersonContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>InfoConta.PersonContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>InfoConta.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>VincularAnexoCaso</name>
        <label>Vincular anexo ao Caso</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>getLinkedEntity.ContentDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>CriarCaso</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BuscarCliente</name>
        <label>Buscar Informações da conta</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdConta</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>InfoConta</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getLinkedEntity</name>
        <label>getLinkedEntity</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VincularAnexoCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingSessionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ResgatarInformacaoDoCasoCriado</name>
        <label>Resgatar Informação do Caso Criado</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtrelarCasoAoMessagingSession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdConta</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>NumeroDoCaso</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdCaso</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssistenciaTecnicaValidation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AtrelarCasoAoMessagingSession</name>
        <label>Atrelar Caso ao Messaging Session</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>AtrelarContatoMessagingUser</targetReference>
        </connector>
        <flowName>AtrelarUmCasoAoMessagingSession</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessagingSessionId</name>
            <value>
                <elementReference>MessagingSessionID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AtrelarContatoMessagingUser</name>
        <label>Atrelar um contato ao Messaging User</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>ValidacaoAnexo</targetReference>
        </connector>
        <flowName>AtrelarContatoMessagingUser</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>InfoConta.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MessagingUserId</name>
            <value>
                <elementReference>MessagingUserId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Classificacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Conta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Contato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescricaoCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contato.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdConta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImagemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfoConta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MessagingSessionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MessagingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumeroDoCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>PossuiAnexo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subclassificacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefoneContato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contato.Phone</elementReference>
        </value>
    </variables>
    <variables>
        <name>Unidade</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
